$paper0: #f7f0ea;
$paper1: #e8d1bc;
$paper2: #d7b38e;
$paper3: #b89979;
$paper4: #9a8065;
$paper5: #7d6751;
$paper6: #61503e;
$paper7: #47392c;
$paper8: #2e241b;
$paper9: #16100b;

$ink0: #f0f0f4;
$ink1: #d3d3de;
$ink2: #b7b7c9;
$ink3: #9b9cb4;
$ink4: #8081a0;
$ink5: #66678a;
$ink6: #4e4f73;
$ink7: #383954;
$ink8: #232437;
$ink9: #0f101b;

$orange0: #fdf5f4;
$orange1: #f7d2ce;
$orange2: #f2aea5;
$orange3: #ee8776;
$orange4: #e26143;
$orange5: #b94e35;
$orange6: #933c28;
$orange7: #6e2b1c;
$orange8: #4b1b10;
$orange9: #2b0c06;

$blue0: #f2f9fc;
$blue1: #b7e3ef;
$blue2: #89cada;
$blue3: #75adbb;
$blue4: #62929e;
$blue5: #4f7781;
$blue6: #3d5d66;
$blue7: #2c454b;
$blue8: #1c2e32;
$blue9: #0d191b;

$fern0: #effcf1;
$fern1: #cce8d0;
$fern2: #a3c8a9;
$fern3: #87af8d;
$fern4: #6c9473;
$fern5: #537a5a;
$fern6: #406046;
$fern7: #2f4733;
$fern8: #1e2f21;
$fern9: #0e1a10;

$pink0: #fdf1f1;
$pink1: #f9cdcd;
$pink2: #f5a7a8;
$pink3: #f37d80;
$pink4: #f1484d;
$pink5: #d02b31;
$pink6: #a41f25;
$pink7: #7a1519;
$pink8: #530b0e;
$pink9: #2e0304;
