@import '../_components/variables';

.pageLayout {
  background-color: $paper1;
  background-image: url('../_components/paper-texture.jpg')
}

@mixin contentWrapper {
  max-width: $breakpoint-lg;
  margin: 0 auto;
  padding: $unit * 2;
}

.body {
  width: 100%;
  background-color: white;
  height: 100%;
  flex-grow: 1;
  margin-top: $unit;
}

.content {
  @include contentWrapper;
}

